In [1]:
import os
import dask.dataframe as dd
from dask.distributed import Client
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

pd_data_dir = "/home/djl34/lab_pd/data"
KL_data_dir = "/home/djl34/lab_pd/kl/data"
scratch_dir = "/n/scratch3/users/d/djl34"

In [2]:
def calculate_length(position):
    df_cutoff = df[(df["start"] < position)]
    
    subtract = df_cutoff.iloc[-1]["end"] - position
    
    return df_cutoff["length"].sum() - subtract

In [8]:
chrom = 4
split_number = 11

df = pd.read_csv(scratch_dir + "/downloads/whole_gene/"+ str(chrom) +"_regions_split_" + str(split_number) + ".tsv", sep = "\t", names = ["Chrom", "start", "end"])
df["length"] = df["end"] - df["start"] + 1

In [12]:
calculate_length(15852639)/df["length"].sum()

0.7860427070604447

40% in 4 minutes when buffer size = 10000

In [40]:
df

    Chrom      start        end  length
0       7  123091098  123103589   12492
1       7  123113531  123199972   86442
2       7  123230120  123230741     622
3       7  123452193  123535077   82885
4       7  123456629  123459856    3228
5       7  123457988  123458094     107
6       7  123536997  123557904   20908
7       7  123567010  123639481   72472
8       7  123580881  123581440     560
9       7  123584859  123624957   40099
10      7  123655866  123664290    8425
11      7  123681943  123749003   67061
12      7  123749068  123751166    2099
13      7  123790605  123790711     107
14      7  123814139  123829252   15114
15      7  123828983  123877481   48499
16      7  123925237  123971414   46178
17      7  123932132  123932459     328
18      7  123994622  124027659   33038
19      7  124030921  124033067    2147
20      7  124032126  124489335  457210

In [18]:
df_cutoff = df[(df["start"] < 15375087)]

df_cutoff.iloc[-1]

Chrom            1
start     15334166
end       15335464
length        1299
Name: 517, dtype: int64

In [12]:
df[(df["start"] < 15375087)]["length"].sum()/df["length"].sum()

0.7236045095954778

72% done after ~ 7 hours

Can estimate to take ~ 10 hours

In [13]:
df[(df["start"] < 16411948)]["length"].sum()/df["length"].sum()

0.7795916414549348

78% done after 8 hr 40 minutes

In [21]:
df[(df["start"] < 16411948)]

     Chrom     start       end  length
0        1     11869     14409    2541
1        1     12010     13670    1661
2        1     14404     29570   15167
3        1     17369     17436      68
4        1     29554     31109    1556
..     ...       ...       ...     ...
568      1  16241213  16241398     186
569      1  16246840  16352480  105641
570      1  16352575  16398145   45571
571      1  16369150  16369530     381
572      1  16387117  16437424   50308

[573 rows x 4 columns]